---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
  {
    date: "Today...",
    title: "Web Developer Student − @manyonlineplatorms",
    description:
      "Taking online courses and following tutorials to upgrade my skills and update my portfolio. Focusing on Javascript, React and CSS at the moment.",
    link: "https://www.github.com/carolimix",
  },
  {
    date: "Septiembre 2022 - Today",
    title: "Freelance Web Developer  − @CarolinaAcuña",
    description: "",
  },
];
---

<ol class='relative border-s border-gray-200 ml-3'>
  {
    EXPERIENCIE.map((experiencie) => (
      <li class='mb-10 ms-4'>
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
